# Python
__pycache__/
*.py[cod]
*.pyo

# Env / secrets
.env
.venv/

# Django
db.sqlite3
/media/

# Django static (ignore all generated, keep admin)
static/**
!static/admin/

# uv
uv.lock

# Misc
.DS_Store
.idea/
.vscode/